<div class="container">
  <form #todoForm= "ngForm" (submit)="todoSubmit(todoForm.value); todoForm.resetForm()">
    <div class="form-group">
      <h1 class="text-center text-primary">Todo App</h1>
      <div class="input-group-prepend">
        <input
          type="text"
          #todo
          class="form-control"
          placeholder="Add Todo"
          name="todo"
          ngModel
        />
        <span class="input-group-text" (click)="addTodo(todo.value)"
          ><i class="material-icons">Add</i></span
        >
      </div>
    </div>
    <div class="data">
      <ul class="list-instyled">
        <li [@moveInLeft] *ngFor="let todo of todoArray">
          {{ todo.value }}<i class="material-icons" (click)="deleteItem(todo.id)">delete</i>
        </li>
      </ul>
    </div>
  </form>
</div>
