body {
  padding: 0;
  margin: 0;
}
.container {
  outline: none;
  width: 100%;
  .enter-todo {
    text-align: center;
    padding-top: 100px;
  }
}
a {
  background-color: Crimson;
  border-radius: 5px;
  color: white;
  padding: 0.2em;
  text-decoration: none;
  &:focus,
  &:hover {
    background-color: FireBrick;
    color: White;
  }
}
form {
  max-width: 45em;
  margin: 4em auto;
  position: relative;
  background: #f4f4f4;
  padding: 2em 3em;
  overflow: scroll;
  h1 {
    font-family: "Raleway";
    color: #f97300;
  }
  input[type="text"]::placeholder {
    font-family: "Raleway";
    color: #666;
  }
  .data {
    margin-top: 1em;
    ul {
      margin: 0;
    }
    .completed {
      border-left: 4px solid green;
    }
    .mat-checkbox, .mat-accent {
      border-color: black;
    }
    li {
      background: #fff;
      border-left: 4px solid #f97300;
      padding: 1em;
      margin: 1em auto;
      color: #666;
      font-family: "Raleway";
      i {
        float: right;
        color: #888;
        cursor: pointer;
      }
    }
  }

  .input-group-text {
    background: #f97300;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    padding: 1em 23px;
    color: #fff;
    position: absolute;
    right: 13px;
    top: 68px;
    cursor: pointer;
    i {
      font-size: 2em;
    }
  }

  .form-control {
    height: 3em;
    font-family: "Raleway";
    &:focus {
      box-shadow: 0;
    }
  }
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: violet;
}